  body
        {
            background-color: rgb(31, 30, 30);
            }

        img
        {
            margin-left: 500px;
            }
        
        h1,h2
        {
            margin-left: 500px; 
        color: rgb(214, 214, 214);
        }

        button
        {
            margin-left: 650px;
        color: rgb(243, 0, 0); 
        height: 1cm;
        width: 5cm;
        font-size: large;
        }  body
        {
            background-color: rgb(31, 30, 30);
            }

        img
        {
            margin-left: 500px;
            }
        
        h1,h2
        {
            margin-left: 500px; 
        color: rgb(214, 214, 214);
        }

        button
        {
            margin-left: 650px;
        color: rgb(243, 0, 0); 
        height: 1cm;
        width: 5cm;
        font-size: large;
        }