    body
        {
            background-image: url('backgroung.jpg');
               background-repeat: no-repeat;
           background-attachment: fixed;  
  background-size: cover;
        }
        fieldset
        {
            width: 15cm;
             color: rgba(187, 31, 31, 0.767);
             background-color: rgba(193, 202, 193, 0.637);
        }
        img
        {
            width:70px;
             height:70px;
            vertical-align: 10cm;
             float:right;
        }
summary
{
list-style: none; 
float: left;
}